


<div class="container">

    <div class="slider-controls" data-snap-ignore="true">
        <div>
            <img src="images/carousel/arcoAugusto.jpg" class="responsive-image" alt="Arco di Augusto">
            <p class="title-slider-caption">
                <strong>Arco di Augusto</strong>
                <em>bla bla bla</em>
            </p>
        </div>

        <div>
            <img src="images/carousel/sanDomenico.jpg" class="responsive-image" alt="San Domenico">
            <p class="title-slider-caption">
                <strong>San Domenico</strong>
                <em>bla bla bla</em>
            </p>
        </div>


        <div>
            <img src="images/carousel/tramontoPorto.jpg" class="responsive-image" alt="Il porto">
            <p class="title-slider-caption">
                <strong>Il porto di Fano</strong>
                <em>bla bla bla</em>
            </p>
        </div>

    </div>
    <a href="#" class="next-slider"></a>
    <a href="#" class="prev-slider"></a>
</div>

