
<div class="container">

    <div class="one-half-responsive marginBottom10">
        <a class="quote-item" ng-href="#/history">
            <img src="images/thumbnails/stemmaFano.jpg" alt="{{lang.menuSections.history}}">
            <span ng-bind-html="lang.menuSections.history"></span>
        </a>
    </div>

    <div class="one-half-responsive marginBottom10 last-column">
        <a class="quote-item" ng-href="#/art">
            <img src="images/thumbnails/sanPietroValle.jpg" alt="{{lang.menuSections.arts}}">
            <span ng-bind-html="lang.menuSections.arts"></span>
        </a>
    </div>

    <div class="one-half-responsive marginBottom10">
        <a class="quote-item" ng-href="#/itinerary">
            <img src="images/thumbnails/museoCivico.jpg" alt="{{lang.menuSections.itineraries}}">
            <span ng-bind-html="lang.menuSections.itineraries"></span>
        </a>
    </div>

    <div class="one-half-responsive marginBottom10 last-column">
        <a class="quote-item" ng-href="#/poi">
            <img src="images/thumbnails/statuaFortuna.jpg" alt="{{lang.menuSections.cityVisit}}">
            <span ng-bind-html="lang.menuSections.cityVisit"></span>
        </a>
    </div>

</div>

