

<div class="phones">

    <div class="container no-bottom">

        <h4 ng-bind-html="lang.phones.municipality"></h4>


        <table class="table">

            <tr class="even">
                <td ng-bind-html="lang.phones.mainOffices"></td>
                <!--<td> Via San Francesco d’Assisi, 76</td>-->
                <td class="phoneCol">
                    <a href="tel:+3907218871" class="contact-call">+39 0721 8871 </a>
                </td>
            </tr>

            <tr>
                <td ng-bind-html="lang.phones.informationOffice"></td>
                <!--<td> Piazza XX Settembre</td>-->
                <td class="phoneCol" >
                    <a href="tel:+390721887523" class="contact-call">+39 0721 887523</a>
                </td>
            </tr>

            <tr class="even">
                <td ng-bind-html="lang.phones.touristOffice"></td>
                <!--<td>Viale C. Battisti, 10</td>-->
                <td  class="phoneCol">
                    <a href="tel:+390721887314" class="contact-call">+39 0721 887314</a>
                </td>
            </tr>
        </table>


        <h4 ng-bind-html="lang.phones.touristOffices"></h4>

        <table class="table">
            <tr class="even">
                <td >Fano </td>
                <!--<td> Viale C. Battisti, 10</td>-->
                <td  class="phoneCol">
                    <a href="tel:+390721803534" class="contact-call">+39 0721 803534</a>
                </td>
            </tr>

            <tr>
                <td>Torrette  <span ng-bind-html="lang.phones.seasonal"></span> </td>
                <!--<td>Via Boscomarina, 10</td>-->
                <td  class="phoneCol">
                    <a href="tel:+390721884779" class="contact-call">+39 0721 884779</a>
                </td>
            </tr>

            <tr class="even">
                <td>Marotta <span ng-bind-html="lang.phones.seasonal"></span> </td>
                <!--<td>Viale C. Colombo, 31</td>-->
                <td  class="phoneCol">
                    <a href="tel:+39072196591" class="contact-call">+39 0721 96591</a>
                </td>
            </tr>
        </table>


        <h4  ng-bind-html="lang.phones.emergencies"></h4>

        <table class="table">

            <tr class="even">
                <td   ng-bind-html="lang.phones.ambulance"></td>
                <td  class="phoneCol">
                    <a href="tel:118" class="contact-call">118</a>
                </td>
            </tr>

            <tr class="">
                <td   ng-bind-html="lang.phones.fireDept"></td>
                <td  class="phoneCol">
                    <a href="tel:115" class="contact-call">115</a>
                </td>
            </tr>

            <tr class="even">
                <td   ng-bind-html="lang.phones.municipalPolice"></td>
                <td  class="phoneCol">
                    <a href="tel:+390721803829 " class="contact-call">+39 0721 803829 </a>
                </td>
            </tr>

            <tr class="">
                <td   ng-bind-html="lang.phones.police"></td>
                <td  class="phoneCol">
                    <a href="tel:112" class="contact-call">112</a>
                </td>
            </tr>

            <tr class="even">
                <td   ng-bind-html="lang.phones.carabinieri"></td>
                <td  class="phoneCol">
                    <a href="tel:113" class="contact-call">113</a>
                </td>
            </tr>

            <tr class="">
                <td   ng-bind-html="lang.phones.coastGuard"></td>
                <td  class="phoneCol">
                    <a href="tel:1530" class="contact-call">1530</a>
                </td>
            </tr>

            <tr class="even">
                <td   ng-bind-html="lang.phones.roadAssistance"></td>
                <td  class="phoneCol">
                    <a href="tel:116" class="contact-call">116</a>
                </td>
            </tr>

        </table>

     </div>


</div>


<div class="content-footer">
    <a class="go-up-footer scrollTop"></a>
    <div class="clear"></div>
</div>