

<div class="historySection">

    <div class="section-title">
        <h4 ng-bind-html="title"></h4>
        <em>&nbsp;</em>
    </div>

    <div class="decoration"></div>

    <div class="container no-bottom">
        <p ng-bind-html="content"></p>
    </div>

    <div class="decoration"></div>


</div>


<div class="content-footer">

    <p class="copyright-content">

        <div class="static-notification-green" ng-click="addBookmark()" ng-hide="isBookmark()">
            <p class="center-text uppercase" ng-bind-html="lang.addFav"> </p>
        </div>
        <div class="static-notification-yellow" ng-click="removeBookmark()" ng-show="isBookmark()">
            <p class="center-text uppercase" ng-bind-html="lang.removeFav"> </p>
        </div>

    </p>

    <a class="go-up-footer scrollTop"></a>
    <div class="clear"></div>

</div>
